doctype html
html
  head
    title Productos
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css')
  body
    // Barra de navegación
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href='/') Ecommerce
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/productos') Productos
            li.nav-item
              a.nav-link(href='/usuarios') Usuarios

    .container.mt-5
      h1.text-center.text-primary.mb-5 Lista de Productos
      
      // Tabla de productos con estilo mejorado
      table.table.table-hover.table-bordered.shadow
        thead.thead-dark
          tr
            th Nombre
            th Descripción
            th Precio
            th Inventario
            th Categoría
            th Acciones
        tbody
          each producto in productos
            tr
              td #{producto.nombre}
              td #{producto.descripcion}
              td #{producto.precio} $
              td #{producto.inventario}
              td #{producto.categoria}
              td 
                a.btn.btn-info.btn-sm(href=`/productos/${producto.id}`)
                  i.bi.bi-eye-fill Ver Detalles
                a.btn.btn-warning.btn-sm.ml-2(href=`/productos/${producto.id}/editar`)
                  i.bi.bi-pencil-square Editar
                form(action=`/productos/${producto.id}/eliminar`, method="POST", style="display:inline")
                  button.btn.btn-danger.btn-sm(type="submit" onclick="return confirm('¿Estás seguro de eliminar este producto?')")
                    i.bi.bi-trash-fill Eliminar
              
      // Formulario para crear un nuevo producto
      .card.shadow.mt-5
        .card-header.bg-primary.text-white
          h2 Crear un nuevo producto
        .card-body
          form(action="/productos" method="POST")
            .form-group
              label(for="nombre") Nombre:
              input.form-control(type="text" name="nombre" required)

            .form-group
              label(for="descripcion") Descripción:
              input.form-control(type="text" name="descripcion" required)

            .form-group
              label(for="precio") Precio:
              input.form-control(type="number" step="0.01" name="precio" required)

            .form-group
              label(for="inventario") Inventario:
              input.form-control(type="number" name="inventario" required)

            .form-group
              label(for="categoria") Categoría:
              input.form-control(type="text" name="categoria" required)

            button.btn.btn-success.btn-block.mt-3(type="submit")
              i.bi.bi-plus-circle-fill Crear Producto
    
      a(href='/', class='btn btn-secondary btn-lg w-100 mt-4') Regresar a Inicio

    // Scripts de Bootstrap
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

