doctype html
html
  head
    title Lista de Estudiantes
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Lista de Estudiantes
    if estudiantes.length
      ul
        each estudiante in estudiantes
          li
            a(href=`/estudiantes/${estudiante.rut}`) #{estudiante.nombre} - #{estudiante.rut} - #{estudiante.curso} - #{estudiante.nivel}
            | 
            a(href=`/estudiantes/editar/${estudiante.rut}`) Editar
    else
      p No hay estudiantes registrados.

a(href='/') Regresar