doctype html
html
  head
    title Consultar Usuario por ID
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles.css')
  body
    .container.mt-5
      h1.text-center Consultar Usuario por Id
      form(action='/consultar-id', method='POST')
        .mb-3
          label(for='rut', class='form-label') ID
          input(type='text', name='rut', class='form-control')
        button(type='submit', class='btn btn-primary w-100') Consultar Usuario
      if usuario
        h2 Detalles del Usuario
        p User_name: #{usuario.user_name}
        p Correo: #{usuario.correo}
        p Nombre: #{usuario.nombre}
        p ID: #{usuario.id}
        p Rol: #{usuario.rol}

    else 
      p No se encontro el usuario
    a(href="/usuarios") Volver a la lista de usuarios
