doctype html
html
  head
    title Productos Disponibles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container.mt-5
      h1.text-center.mb-4 Productos Disponibles para Compradores

      // Lista de productos
      if productos.length
        .row
          each producto in productos
            .col-md-4.mb-4
              .card
                if producto.imagenUrl
                  img.card-img-top(src=producto.imagenUrl alt=producto.nombre)
                .card-body
                  h5.card-title #{producto.nombre}
                  p.card-text #{producto.descripcion}
                  p.font-weight-bold Precio: #{producto.precio} $
                  button.btn.btn-primary Agregar al Carrito
      else
        .alert.alert-info.text-center No hay productos disponibles en este momento.

    // Scripts de Bootstrap
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")